html {
    position: relative;
    min-height: 100%;
}

.headerVertical{
    height: 12vh;
    position: relative; 
    text-align: center;
    width: 100%;
    background-color: #1a936f;
    color: white;
}


header a {
    text-decoration: none;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
a:hover{
    text-emphasis: none;
    text-decoration: none;
    color: white;
}

.bg-cloud-storm{
    background-color:  #114b5f;
}
body{
    background-color: #f3e9d2;
    width: 100%;
    margin-bottom: 60px;
}

.wrapper{
    Width: 80%;
    margin: 0 auto;
}

#profileBlock,
#contact{
    background-color:  #192231;
    color: white;
}

#profileBlock img{
    width: 200px;
    height: 200px;
    margin: 5px 20px 20px 20px;
}

#profileBlock p{
    padding: 10px;
}

header img{
    margin-left: 50%;
    transform: translateX(-50%);
    height: 25vh;
}

#contact{
    width: 75%;
    margin:0 auto;
}

#portfolioCards{
    width: 80%;
    margin: 0 auto;
    padding: 5vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    line-height: 5vh; 
    background-color: #192231;
    color: grey;
}

#hiddenNavItem{
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #profileBlock img{
        padding: 15px;
    }
    #profileBlock p{
        text-align: center;
    }
}
@media screen and (max-width: 960px){
    .portfolioCards{
        width: 50%;
    }
    .col{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 992px){
    .navbar{
        height:50px;
    }
}
